<!-- Head custom content area start -->
<!-- CSS -->
<style>
    body{
        background-color: #fefffa;
        background-image: url(https://static.fifsky.com/shuyan/images/bg.jpeg);
        background-position: left top;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
<link href="https://static.fifsky.com/artalk/Artalk-2.4.2.css" rel="stylesheet">
<!-- JS -->
<script src="https://static.fifsky.com/artalk/Artalk-2.4.2.js"></script>
<!-- Head custom content area end -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.js" integrity="sha512-RWosNnDNw8FxHibJqdFRySIswOUgYhFxnmYO3fp+BgCU7gfo4z0oS7mYFBvaa8qu+axY39BmQOrhW3Tp70XbaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.css" integrity="sha512-CIYsJUa3pr1eoXlZFroEI0mq0UIMUqNouNinjpCkSWo3Bx5NRlQ0OuC6DtEB/bDqUWnzXc1gs2X/g52l36N5iw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
